RRScheduleManagement/RRScheduleManagement/Service References/ServiceReference1/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://UserService.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://UserService.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://UserService.org/">
      <s:element name="JsonData">
        <s:complexType />
      </s:element>
      <s:element name="JsonDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Users">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserLogin">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="UserImage" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RuleId" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUsersResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="JsonDataSoapIn">
    <wsdl:part name="parameters" element="tns:JsonData" />
  </wsdl:message>
  <wsdl:message name="JsonDataSoapOut">
    <wsdl:part name="parameters" element="tns:JsonDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsers" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="JsonDataHttpGetIn" />
  <wsdl:message name="JsonDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="JsonDataHttpPostIn" />
  <wsdl:message name="JsonDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="UserServiceSoap">
    <wsdl:operation name="JsonData">
      <wsdl:input message="tns:JsonDataSoapIn" />
      <wsdl:output message="tns:JsonDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method for User registration</wsdl:documentation>
      <wsdl:input message="tns:AddUsersSoapIn" />
      <wsdl:output message="tns:AddUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceHttpGet">
    <wsdl:operation name="JsonData">
      <wsdl:input message="tns:JsonDataHttpGetIn" />
      <wsdl:output message="tns:JsonDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceHttpPost">
    <wsdl:operation name="JsonData">
      <wsdl:input message="tns:JsonDataHttpPostIn" />
      <wsdl:output message="tns:JsonDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoap" type="tns:UserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JsonData">
      <soap:operation soapAction="http://UserService.org/JsonData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap:operation soapAction="http://UserService.org/AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceSoap12" type="tns:UserServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JsonData">
      <soap12:operation soapAction="http://UserService.org/JsonData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap12:operation soapAction="http://UserService.org/AddUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceHttpGet" type="tns:UserServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="JsonData">
      <http:operation location="/JsonData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceHttpPost" type="tns:UserServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="JsonData">
      <http:operation location="/JsonData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserServiceSoap" binding="tns:UserServiceSoap">
      <soap:address location="http://localhost:61140/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceSoap12" binding="tns:UserServiceSoap12">
      <soap12:address location="http://localhost:61140/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpGet" binding="tns:UserServiceHttpGet">
      <http:address location="http://localhost:61140/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpPost" binding="tns:UserServiceHttpPost">
      <http:address location="http://localhost:61140/UserService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>